@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
:where(
		p,
		span,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		a,
		li,
		ul,
		ol,
		button,
		input,
		textarea
	) {
	margin: 0;
}
:where(a, button) {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
:where(button, input, textarea) {
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	user-select: none;
}
body {
	font-family: "Roboto", sans-serif;
	background-color: #ffffff;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow: auto;
}
