.logo {
	width: 100%;
	height: 10rem;
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	img {
		width: 80%;
	}
}
.main {
	height: calc(100dvh - 10rem);
	width: 100dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	margin-top: 10rem;
	.inputForm {
		width: 60rem;
		height: 60rem;
		border-radius: 1rem;
		box-shadow: 0px 0px 15px 0px rgba(162, 162, 162, 0.3);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.inputBox table {
			width: 100%;
			height: 100%;
			border-collapse: separate;
			border-spacing: 0 4rem;
			tr {
				td:first-child {
					text-align: right;
					padding-right: 1rem;
					color: #262626;
					font-size: 2rem;
					font-weight: 700;
				}
				td:last-child {
					display: flex;
					justify-content: center;
					align-items: flex-start;
					flex-direction: column;
					span {
						color: #d61717;
						font-size: 1rem;
						font-weight: 700;
					}
				}
				td input {
					width: 38rem;
					padding: 10px 8px 10px 8px;
					border-radius: 1rem;
					border: 1.5px solid rgba(0, 0, 0, 0.3);
					font-size: 1.6rem;
				}
				td textarea {
					width: 100%;
					height: 15.5rem;
					padding: 10px 8px 10px 8px;
					overflow: auto;
					border-radius: 1rem;
					border: 1.5px solid rgba(0, 0, 0, 0.3);
					font-size: 1.6rem;
				}
			}
			tr:last-child td:first-child {
				padding-top: 1rem;
				text-align: right;
				vertical-align: top;
			}
		}
		.submitBtn {
			button {
				width: 20rem;
				height: 5.5rem;
				border-radius: 10rem;
				background: #d61717;
				box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
				color: #fff;
				font-size: 2.4rem;
				font-weight: 700;
			}
			button:hover {
				background: #ff0000;
			}
		}
	}
	.completeDisplay {
		width: 60rem;
		height: 60rem;
		border-radius: 1rem;
		box-shadow: 0px 0px 15px 0px rgba(162, 162, 162, 0.3);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h3 {
			font-size: 3.2rem;
			font-weight: 700;
			color: #262626;
			padding: 1rem;
		}
	}
}
@media screen and (max-width: 486px) {
	.logo {
		display: flex;
	}
	.main {
		margin-top: 50px;
		height: auto;
		overflow: hidden;
		.inputForm {
			width: 100%;
			height: 100%;
			.inputBox {
				width: 100%;
				height: 100%;
				table {
					width: 100%;
					height: 100%;
					tr {
						td:first-child {
							font-size: 1.6rem;
						}
						td input {
							width: 90%;
							font-size: 1.6rem;
						}
						td textarea {
							width: 90%;
							font-size: 1.6rem;
						}
					}
				}
			}
			.submitBtn {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				button {
					width: 15rem;
					height: 5.5rem;
					font-size: 2rem;
				}
			}
		}
		.completeDisplay {
			width: 100%;
			height: 100%;
			margin-top: 10rem;
			box-shadow: none;
			h3 {
				font-size: 2.4rem;
			}
		}
	}
}
